<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estate</title>
    <link rel="stylesheet" href="/main.css" type="text/css" />
  </head>
  <body>
    <nav>
      <a href="/" class="logo" style="color: #fff">Icar<span>us</span></a>
    </nav>
    <div class="hero-estate">
      <div class="overlay"></div>
      <img src="/<%=prop['img-src']%>" alt="" />
    </div>
    <div class="details-large">
      <h1 class="name"><%=prop.name%></h1>
      <h3 class="address"><%=prop.address%></h3>
      <div class="table-container">
        <div class="table">
          <div class="row">
            <div class="heading">Token Price</div>
            <div class="heading">Available Tokens</div>
            <div class="heading">Total Tokens</div>
          </div>
          <div class="row">
            <div class="cell"><%=prop["token-price"]%> / token</div>
            <div class="cell"><%=prop["tokens-available"]%></div>
            <div class="cell"><%=prop["total-tokens"]%></div>
          </div>
        </div>
      </div>
    </div>
    <form action="#" class="buy-box" method="POST">
      <h2>Purchase</h2>
      <div class="input-container">
        <input
          type="number"
          name="token"
          id="token"
          min="1"
          max="<%=prop['tokens-available']%>"
          value="1"
          onchange="calculate()"
        />
        <input type="hidden" name="account" />
        <label for="token">Tokens</label>
      </div>
      <div class="final">
        <div class="total">Total : <%=prop["token-price"]%> ETH</div>
        <button type="submit" class="btn">Buy</button>
      </div>
    </form>
  </body>
  <script>
    const calculate = () => {
    const inp = document.querySelector("input[name='token']");
    const tot = document.querySelector('.total');
    const price = Number('<%= prop["token-price"] %>');
    tot.innerHTML = `Total : ${(price * inp.value).toFixed(1)} ETH`;
  };
  </script>
  <script type="text/javascript" src="/JS/script.js" ></script>
</html>
